body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    max-width: 550px; 
    color: #F5F5F5
    }
    
    .hero {
    background: #3A69D2;
    text-align: center;
    color: white;
    padding: 50px;
    }
    
    .title{
    font-size: 40px;
    font-weight: 800px;
    margin-bottom: 9px;
    }
    
    .title-sub {
    font-size: 16px;
    font-weight: 400px;
    }
    
    .bottom-half {
    background: #1F2937;
    padding-left: 38px;
    padding-right: 38px;
    }
    
    .btns-container {
    display: flex;
    justify-content: space-between;
    }
    
    .btn-top {
    width: 143px;
    height: 45px;
    background: #D1D4F4;
    font-size: 14px;
    font-weight: 500;
    margin-top: 41px;
    border-radius: 7px;
    border: none;
    font-family: 'Inter', sans-serif;
    }
    
    .task-total-container {
    display: flex;
    justify-content: space-between;
    color: #F5F5F5;
    }
    
    .bottom-title {
    color: #D5D4D8;
    font-size: 12px;
    font-weight: 700;
    margin-top: 43px;
    width: 95px;
    height: 22px;
    margin-bottom: 19px;
    }
    
    #bottom-total {
    width: 78px;
    text-align: right;
    margin-bottom: 16px;
    }
    
    .totals {
    text-align: right;
    }
    
    hr {
    height: 1px;
    background: #C3C6DB;
    border: none;
    margin-top: 29px;
    margin-bottom: 11px;
    }
    
    .bottom-container {
    display: flex;
    justify-content: space-between;
    }
    
    .notes, .total-amount {
    color: #D5D4D8;
    font-size: 12px;
    font-weight: 600px;
    width: 105px;
    height: 28px;
    }
    
    .total-amount {
    padding: 5px 0 5px 5px;
    text-align: right;
    }
    .notes-paragraph {
    font-size: 12px;
    font-weight: 400px;
    }
    
    .money {
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    margin-top: -20px;
    }
    
    .invoice {
    margin-top: 50px;
    width: 473px;
    height: 44px;
    margin-bottom: 49px;
    background: #3A69D2;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    font-family: 'Inter', sans-serif;
    }
    